# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.gradle/
/.settings/
/.project
/build/
/build-eclipse/
easymlProvider/easymlProvider-rt/bin/
easymlProvider/easymlProvider-rt/build/
easymlProvider/easymlProvider-rt/.settings/
easymlProvider/easymlProvider-wb/bin/
easymlProvider/easymlProvider-wb/build/
easymlProvider/easymlProvider-wb/.settings/

*.classpath
*.project
